/**/.vs/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

/**/bin/*
/**/obj/*

# ignore appsettings configuration files
**/appsettings.development.json
**/appsettings.staging.json
**/appsettings.production.json